body {
    font-family: "Tahoma",Helvetica,Arial,sans-serif;
    font-size: 12px;
}
a {
    color: #333;
}
@media (min-width: 1200px){
    .container {
        width: 1000px;
    }
}
ol, ul {
    list-style-type: none;
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
}
/*.container {*/
    /*padding-right: 10px;*/
    /*padding-left: 10px;*/
/*}*/
/*.container .row, .container >.navbar-header {*/
    /*margin-right: -10px;*/
    /*margin-left: -10px;*/
/*}*/
.form-control, .btn {
    font-size: 12px;
}
a:focus, a:hover {
    text-decoration: none;
    cursor: pointer;
}
.bootstrap-datetimepicker-widget {
    z-index: 9999 !important;
}
.text-bold {
    font-weight: 600;
}
.padding-right-0 {
    padding-right: 0;
}
.padding-left-0 {
    padding-left: 0;
}
.padding-right-4 {
    padding-right: 4px;
}
.padding-left-4 {
    padding-left: 4px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-14 {
    margin-top: 14px;
}
.margin-right-20 {
    margin-right: 20px;
}
.text-green {
    color: #2e892e !important;
}
.text-blue {
    color: #1a96d3 !important;
}
.text-red {
    color: #d31a1a !important;
}
.text-gray {
    color: #999;
}
.ellipsis-1lines {
    background: #fff;
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-height: 20.02px;
    /* Fallback for non-webkit */
    line-height: inherit;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
@-moz-document url-prefix() {
    .ellipsis-1lines {
        overflow: hidden;
        position: relative;
    }
    .ellipsis-1lines:before {
        background: #fff;
        bottom: 0;
        position: absolute;
        right: 0;
        float: right;
        content: '\2026';
        margin-left: -3rem;
        width: 3rem;
    }
    .ellipsis-1lines:after {
        content: '';
        background: #fff;
        position: absolute;
        height: 50px;
        width: 100%;
        z-index: 1;
    }
}
.ellipsis-2lines {
    background: #fff;
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-height: 40.04px;
    /* Fallback for non-webkit */
    line-height: inherit;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
@-moz-document url-prefix() {
    .ellipsis-2lines {
        overflow: hidden;
        position: relative;
    }
    .ellipsis-2lines:before {
        background: #fff;
        bottom: 0;
        position: absolute;
        right: 0;
        float: right;
        content: '\2026';
        margin-left: -3rem;
        width: 3rem;
    }
    .ellipsis-2lines:after {
        content: '';
        background: #fff;
        position: absolute;
        height: 50px;
        width: 100%;
        z-index: 1;
    }
}
.ellipsis-3lines {
    background: #fff;
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-height: 60.06px;
    /* Fallback for non-webkit */
    line-height: inherit;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
@-moz-document url-prefix() {
    .ellipsis-3lines {
        overflow: hidden;
        position: relative;
    }
    .ellipsis-3lines:before {
        background: #fff;
        bottom: 0;
        position: absolute;
        right: 0;
        float: right;
        content: '\2026';
        margin-left: -3rem;
        width: 3rem;
    }
    .ellipsis-3lines:after {
        content: '';
        background: #fff;
        position: absolute;
        height: 50px;
        width: 100%;
        z-index: 1;
    }
}
.ellipsis:hover {
    cursor: pointer;
}
.navbar {
    margin-bottom: 0;
    border: 0;
}
.header-top {
    border-bottom: #c7c7c8 solid 1px;
    height: 24px;
    background-color: #fff;
}
.header-top a {
    color: #333;
}
.header-top-left {
    float: left;
}
.header-top-right {
    float: right;
}
.header-top ul {
    padding-left: 0;
    margin-bottom: 0;
}
.header-top li {
    display: inline-block;
    padding-right: 7px;
    border-right: #333 solid 1px;
    margin: 7px 3px 5px 0;
    font-size: 11px;
    line-height: 11px;
}
.header-top li:last-child {
    border-right: none;
}
.bs-docs-nav .navbar-toggle .icon-bar {
    background-color: #2c9ed4;
}
.bs-docs-nav .navbar-header .navbar-toggle {
    border-color: #fff;
}
.bs-docs-nav .navbar-header .navbar-toggle:hover,
.bs-docs-nav .navbar-header .navbar-toggle:focus {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}
.header-brand {
    padding: 5px 10px;
}
.header-mid {
    padding: 13px 0;
    min-height: 76px;
    background-color: #fff;
}
.header-mid-logo {
    margin-left: 10px;
}
.header-hotline-icon {
    padding-right: 10px;
    border-right: #ddd 1px solid;
    font-weight: 600;
    display: inline-block;
    margin-top: 4px;
    line-height: 45px;
}
.header-hotline {
    padding-right: 10px;
    font-weight: 600;
    display: inline-block;
    margin-top: 4px;
}
.header-hotline-address {
    padding-left: 8px;
    font-weight: 600;
    display: inline-block;
    min-width: 80px;
    vertical-align: middle;
    margin-right: 10px;
}
.header-hotline-number {
    display: inline-block;
    font-weight: 600;
    color: #d31a1a;
    vertical-align: middle;
}
.header-support-online {
    padding-top: 15px;
}
.header-support-online .btn {
    line-height: 23px;
    background-color: #fff;
    padding: 0 5px 1px;
    font-size: 12px;
}
.header-support-online .btn:first-child {
    background-color: #eee;
}
.header-support-online .btn:first-child:hover {
    background-color: #eee;
}
.header-support-online .btn:hover {
    background-color: #fff;
}

.header-menu {
    height: 36px;
    border-top: solid 1px #2389bb;
    background: -moz-linear-gradient(to bottom, #32a7d9, #2389bb);
    background: linear-gradient(to bottom, #32a7d9, #2389bb);
}
.header-menu a {
    color: #fff;
    font-weight: 600;
}
.header-menu .nav {
    float: left;
}
.header-menu .select-lang {
    float: right;
    padding-top: 5px;
}
.header-menu li{
    text-align: center;
}
.header-menu li a:hover{
    color: #1e98d4;
    background-color: #fff;
}
.header-menu li.active a,.header-menu li.active a:hover {
    color: #1e98d4;
    background-color: #fff;
}
.header-menu li.active .caret {
    margin-top: -12px;
    margin-left: 0;
    color: #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid;
    position: absolute;
    z-index: 1051;
    bottom: -8px;
    left: 29%;
}
.header-menu li a {
    padding: 9px 11px;
}
.header-menu-best {
    color: #d20404 !important;
    text-shadow: rgb(255, 255, 255) 2px 0px 0px, rgb(255, 255, 255) 1.75517px 0.958851px 0px, rgb(255, 255, 255) 1.0806px 1.68294px 0px, rgb(255, 255, 255) 0.141474px 1.99499px 0px, rgb(255, 255, 255) -0.832294px 1.81859px 0px, rgb(255, 255, 255) -1.60229px 1.19694px 0px, rgb(255, 255, 255) -1.97998px 0.28224px 0px, rgb(255, 255, 255) -1.87291px -0.701566px 0px, rgb(255, 255, 255) -1.30729px -1.5136px 0px, rgb(255, 255, 255) -0.421592px -1.95506px 0px, rgb(255, 255, 255) 0.567324px -1.91785px 0px, rgb(255, 255, 255) 1.41734px -1.41108px 0px, rgb(255, 255, 255) 1.92034px -0.558831px;
}
.select-lang li {
    text-align: left;
}
.select-lang .bootstrap-select {
    width: auto !important;
    margin-top: -3px;
}
.select-lang .bootstrap-select .btn {
    padding: 1px 11px 2px 2px;
    border-radius: 0;
}
.select-lang .bootstrap-select .btn .caret {
    right: 2px;
}
.select-lang .bootstrap-select .dropdown-menu{
    right: 0;
    left: auto;
    min-width: 100px;
}
.select-lang .select-cur{
    margin-top: 1px;
    min-height: 22px;
}
.homepage-slider {
    background-color: #eee;
    padding-top: 12px;
    padding-bottom: 14px;
    min-height: 300px;
}
.home-slider .carousel-inner {
    /*height: 301px;*/
    border-radius: 8px;
}
.home-slider .carousel-inner img{
    max-height:297px;
}
.home-slider .carousel-indicators {
    right: 10px;
    left: auto;
    bottom: 10px;
    text-align: right;
}
.home-slider .hotel-info {
    position: absolute;
    bottom: 40px;
    z-index: 15;
    width: 55%;
    list-style: none;
    right: 10px;
    text-align: right;
    font-family: FuturaHv;
    color: #fff;
    text-shadow: 2px 2px 2px #243243;
}
.home-slider .hotel-info .hotel-discount {
    position: absolute;
    height: 90px;
    background-color: #fc0202;
    border-radius: 50%;
    width: 90px;
    padding: 15px 5px 5px 10px;
    font-size: 18px;
    box-shadow: 0px 2px #1b242e;
}
.home-slider .hotel-info .hotel-stars{
    margin-bottom: 6px;
}
.home-slider .hotel-info .hotel-name {
    font-size: 18px;
}
.home-slider .slider-des {
    font-size: 16px;
}
.home-slider .slider-des span{
    font-size: 30px;
}
.home-slider .search-box {
    position: absolute;
    top: 26px;
    left: 24px;
    width: 442px;
    height: 248px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #b2b2b0;
    opacity: 0.93;
    z-index: 10;
}
.search-box .search-header {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 34px;
    background-color: #dfdfe0;
    padding: 12px 29px;
}
.box-header span{
    color: #1a96d3;
    font-weight: 600;
}
.search-box .search-body {
    height: 214px;
    background-color: #f9f9f9;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 12px 29px;
}
.search-box .mytour-verify {
    padding-top: 10px;
}
.visible-xs .search-box .search-body{
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.visible-xs .search-box .search-body .form-hotel .col-sm-2.row{
    margin-left: 0;
    margin-right: 0;
}
.visible-xs .search-box .mytour-verify {
    padding-top: 0;
    padding-bottom: 10px;
}
.form-hotel .form-date {
    min-width: 187px;
}
.form-hotel .number-days{
    padding: 6px 3px;
}
.form-date.has-feedback .form-control-feedback {
    top: 22px;
    right: 15px;
    background: url("/images/calendar-icon.png") no-repeat center;
    width: 30px;
}
.form-date.has-feedback .form-control {
    padding-right: 28.5px;
    padding-left: 9px;
}
.home-box-content {
    border-radius: 4px;
    border: 1px solid #c7c7c8;
}
.home-box-content.panel {
    margin-bottom: 0;
}
.home-box-content .home-box-header {
    background-color: #efefef;
    padding: 10px 18px 9px;
}
.why-choice-mytour {
    background: url("/images/logo-mini-icon.png") no-repeat 95% 100%;
}
ul.list-reasons {
    padding-left: 22px;
    margin-top: 14px;
}
ul.list-reasons li{
    margin-bottom: 17px;
}
.mytour-icon {
    width: 17px;
    height: 17px;
    display: inline-block;
}
.icon-hotel {
    background: url("/images/hotel.png") no-repeat center bottom;
}
.icon-discount {
    background: url("/images/discount.png") no-repeat center bottom;
}
.icon-money {
    background: url("/images/money.png") no-repeat center bottom;
}
.icon-gift {
    background: url("/images/gift.png") no-repeat center bottom;
}
.icon-credit-card {
    background: url("/images/credit-card.png") no-repeat center bottom;
}
.icon-arrow {
    background: url("/images/arrow-icon.png") no-repeat center bottom;
}
.box-locate {
    min-height: 241px;
    position: relative;
}
.box-locate ul{
    bottom: 1px;
    position: absolute;
    width: 100%;
}
.box-locate .locate-picture {
    padding: 8px 7px 9px;
    position: relative;
}
.box-locate .locate-picture .city-selected{
    width: 195px;
    height: 40px;
    background-color: #fff;
    opacity: 0.8;
    padding: 5px;
    position: absolute;
    left: 7px;
    top: 37%;
}
.locate-picture .city-selected .hotel-count:after {
    content: ' ';
    background: url("/images/hotel-count-icon.png") no-repeat bottom;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 4px;
}
.box-locate .list-group {
    margin-bottom: 0;
}
.box-locate .list-group .list-group-item{
    background-color: #eee;
    padding: 4px 15px;
    border-top: 1px solid #ddd;
    border-bottom: none;
    border-left: none;
    border-right: none;
    font-weight: 600;
}
.box-locate .list-group .list-group-item:first-child{
     border-top-left-radius: 0;
     border-top-right-radius: 0;
}
.box-locate .list-group .list-group-item a.active{
    color: #1a96d3;
}
.list-bonus {
    margin-top: 9px;
    padding-left: 8px;
}
.list-bonus li {
    margin-bottom: 6px;
}
.list-bonus li:before {
    content: "• ";
    color: #1a96d3;
}
.mytour-bonus .home-box-body {
    background: url("/images/bonus-bg.png") no-repeat right top;
}
.mytour-bonus .bonus-gift {
    position: absolute;
    top : -18px;
}
.mytour-bonus .home-box-header {
    padding: 7px 18px 7px;
}
.mytour-app {
    background: url("/images/app-bg.png") no-repeat 5% bottom;
    padding: 22px 47px;
    text-align: center;
    min-height: 114px;
}
.mytour-app .download-app {
    padding: 8px 30px;
}
.as-box {
    padding: 10px 6px 0;
    border: 1px solid #ddd;
}
.as-box img{
    border-radius: 4px;
    width: 100%;
}
.as-box [class*=col-sm] {
    padding-left: 4px;
    padding-right: 4px;
}
.promotion-locate, .hot-hotels-locate {
    border-bottom: 1px solid #ddd;
}
.promotion-locate li a, .hot-hotels-locate li a{
    padding: 5px 10px;
}
.promotion-locate li.active:before, .hot-hotels-locate li.active:before{
    display: inline-block;
    width: 0;
    height: 0;
    color: #ddd;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    position: absolute;
    z-index: 1051;
    top: 0;
    left: 40%;
    content: ' ';
}
.promotion-locate .nav-pills>li.active>a, .hot-hotels-locate .nav-pills>li.active>a{
    color: #1a96d3;
    background-color: inherit;
    font-weight: 600;
}
.promotion-hotels .hotel-box:last-child .media, .hot-hotels .hotel-box:last-child .media{
    border-bottom: none;
}
.hotel-box {
    padding: 10px 10px 0;
}
.hotel-box .hotel-image {
    max-width: 90px;
    max-height: 60px;
    border-radius: 4px;
}
.hotel-box .hotel-name {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
}
.hotel-box .hotel-address, .hotel-box .last-booking{
    font-size: 11px;
    color: #999;
}
.hot-hotels .hotel-box .hotel-address{
    color: inherit;
}
.hotel-box .star-number {
    margin-bottom: 5px;
}
.hot-hotels .hotel-box .star-number, .hot-hotels .hotel-box .hotel-name {
    margin-bottom: 0;
}
.hotel-box .media {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    min-height: 75px;
}
.hotel-box .hotel-discount {
    margin-top: 15px;
    width: 80px;
}
.footer-hotline{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 11;
}
.footer-hotline .hotline-info {
    min-height: 28px;
    background-color: #eee;
}
.hotline-info .hotline-brand {
    width: 155px;
    height: 100%;
    display: inline-block;
    background-color: #dc0503;
    position: absolute;
    text-align: center;
    color: #fff;
    font-weight: 600;
    padding-top: 6px;
}
.hotline-info .hotline-brand:after {
    width: 0;
    height: 0;
    content: ' ';
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 10px solid #dc0503;
    position: absolute;
    right: -10px;
    top: 0;
}
.hotline-info .container {
    padding-top: 6px;
}
.hotline-info .hotline-text {
    font-weight: 600;
}
.hotline-info .customer-popup {
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 54px;
}
.mytour-footer {
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 28px;
}
.mytour-footer .mytour-about{
    padding-left: 0;
}
.mytour-about li {
    margin-bottom: 20px;
}
.mytour-footer .mytour-social{
    padding-left: 0;
}
.mytour-social .btn-social-icon {
    border-radius: 50%;
    margin-right: 5px;
}
.mytour-social li{
    margin-bottom: 5px;
}
.mytour-subscribe {
    padding-top: 7px;
}
.mytour-subscribe .form-subscribe .form-control {
    height: 32px;
    border-radius: 0;
    min-width: 195px;
}
.mytour-subscribe .form-subscribe .btn {
    padding-left: 25px;
    padding-right: 25px;
}
.mytour-footer .about-box {
    border-bottom: 1px solid #ddd;
}
.mytour-footer .cities-list {
    padding-top: 12px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
.cities-list .city-item{
    margin-bottom: 12px;
    float: left;
    width: 12.5%;
}
.cities-list .city-hot{
    font-weight: 600;
}
.mytour-footer .footer-address {
    padding-top: 15px;
}
.footer-address .footer-address-content{
    font-size: 11px;
}
@media (max-width: 1199px) {
    .hotline-info .hotline-brand {
        display: none;
    }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
    .header-brand {
        padding: 0 10px;
    }
    .padding-right-4 {
        padding-right: 15px;
    }
    .padding-left-4 {
        padding-left: 15px;
    }
    .mytour-footer .col-sm-4 [class="mytour-about"] {
        width: 50%;
        float: left;
    }
}

@media (max-width: 479px) {
    .mytour-social li {
        display: inline-block;
    }
    .mytour-social li span, .footer-hotline, .header-menu .nav-home{
        display: none;
    }
    .cities-list .city-item {
        width: 33.3%;
    }
    .header-menu li a {
        padding: 9px 2px;
    }
    .col-xs-4 {
        width: 100%;
    }
    .box-locate ul {
       position: inherit;
    }
    .hidden-xxs {
        display: none;
    }
}